.container
	.row
		.col-lg-6.col-md-6.col-xs-12
			img(src="images/logo.png",width="250")
			hr.separador_footer
			img(class="img-foot-lr",src="images/logo_lr.png")
		.col-lg-3.col-md-3.col-xs-12
			h4 Investigación: 
			p Melissa Goytizolo
			br
			h4 Jefe de la unidad de Investigación: 
			p Ángel Páez

		.col-lg-3.col-md-3.col-xs-12

			h4 Desarrollo Web
			p Tania Cuya
			br
			h4 Edicion de video:
			p Grace Mora
			p Carlos Burzio
			p Carla Espinoza
			p peniente
			br
			h4 Fotografia
			p Javier Quispe
			p Jhonel Rodriguez
			p Julio Angulo
