.container
	.row
		.col-lg-6.col-md-6.col-xs-12.logofooter
			img(src="images/logo.png",width="250")
			hr.separador_footer
			img(class="img-foot-lr",src="images/logo_lr.png")
		.col-lg-2.col-md-2.col-xs-12.creditos
			.nom-meli 
				h4 Investigación: 
				p Melissa Goytizolo
			br
			h4 Jefe de la unidad de Investigación: 
			p Ángel Páez
			br
			h4 Desarrollo Web:
			p Tania Cuya

		.col-lg-2.col-md-2.col-xs-12.creditos

			h4 Edicion de video:
			p Carla Espinoza
			p Carlos Burzio
			p Grace Mora
			br
			h4 Fotografia:
			p Javier Quispe
			p Jhonel Rodriguez
			p Julio Angulo

		.col-lg-2.col-md-2.col-xs-12.creditos
			h4 Traducciones: 
			br
			h4 Quechua a Español:
			p Libia Pinares
			p Ruth Zúñiga
			p Virgilio Grajeda
			br
			h4 Shipibo a Español:
			p Esdras Silvano 
			p Wilma Maynas
