.la-republica {
    background-color: #013f6d;
    padding: 0.5%;
    a{
    	text-align: center;
    }
}

.fixed-header {
  position: fixed;
  top:0; left:0;
  width: 100%; 
}

/*slider1*/
/*
#container{
	width:80%;
	margin:40px auto;
}

.slide p{
	margin:0;
	padding:0 35px 0 0;
}
*/
#slider{
	width:100%;
	height:1000px;
	/*position:relative;
	overflow:hidden;
	float:left;
	padding:0;*/
}
/*
#slider img{
	width:100%;
	position:absolute;
}

.img1, .img2, .img3, .img4, .img5 {
	width:100%;
	margin:0;
	padding:0;
} 

*/
.slide{
	position:absolute;
	/*width:100%;
	height:100%;*/
}
/*
.slide:nth-child(1){
	background:#9ab6b6;
}

.slide:nth-child(2){
	background:#9ab6b6;
}

.slide:nth-child(3){
	background:#98cc98;
}

.slide:nth-child(4){
	background:#e7b892;
}

.slide:nth-child(5){
	background:#c4ad43;
}


.slide-copy{
	position:absolute;
	bottom:0;
	left:0;
	padding:10px 20px 20px 20px;
	background:7f7f7f;
	background: rgba(0,0,0,0.5);
	width:100%;
	max-height:32%;
}

#prev, #next{
	cursor:pointer;
	z-index:100;
	background:#666;
	height:50px;
	width:50px;
	display:inline-block;
	position:absolute;
	top:50%;
	margin:0;
	padding:0;
	opacity:0.7;
	filter: alpha(opacity=70);
}

#next{
	float:right;
	right:-2px;
}

#prev{
	float:left;
	left:0;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;	
	border-left: 15px solid #fff;
	position:relative;
	top:20%;
	right:-40%;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;	
	border-right:15px solid #fff; 
	position:relative;
	top:20%;
	left:30%;
}
*/

/*footer*/

footer {
	padding: 2% 0;
	background:$guinda;
	color: white;
	text-align: center;
	.img-foot-lr {
		display: block;
    	margin: auto;
	}
	.separador_footer{
		width: 303px;
		margin: 7px auto;
		border-top: 1px solid #eee;
	}
}

