.la-republica {
    background-color: #013f6d;
    background-color: #004158;
    padding: 0.5%;
    a{
    	text-align: center;
    }
}

.fixed-header {
  position: fixed;
  top:0; left:0;
  width: 100%; 
}


/*footer*/

footer {
	padding: 2% 0;
	background:$guinda;
	color: white;
	text-align: center;
	.img-foot-lr {
		display: block;
    	margin: auto;
	}
	.separador_footer{
		width: 303px;
		margin: 7px auto;
		border-top: 1px solid #eee;
	}
}

