
html
	head
		include base/head.pug
	body
		
		div.la-republica.v-center
			a(href="http://larepublica.pe/",alt="la_republica")
				img(class="imgresponsive",src="images/logo_lr.png")
		.menu
			include base/menu.pug

		.casos-shipibas.container-fluid
			.container
				h2 “A mí me han llevado, ellos son los culpables” 
				.row
					.col-lg-8
						iframe(width="100%",height="50%",src="https://www.youtube.com/embed/s4WYy18AJSs?rel=0&amp;showinfo=0",frameborder="0",allowfullscreen="")
					.col-lg-4
						img(src="images/26805-639834-DINA PANGOS-SDARC-11497552.JPG" width="60%" alt="")

						p 
							|Agraviadas: Juliana Lomas Cauper 

							|Grado de instrucción: primero de primaria 

							|Fecha del hecho: 1997

							|Modus Operandi:  Engaño, Violencia 

							|Edad de la ligadura: 33

							|Vivía en: Comunidad Pueblo Nuevo, distrito Iparía, provincia Coronel Portillo. 

							|Responsables de la captación: Posta de Pueblo Nuevo 

							|Responsables de la ligadura: Centro de Salud de Iparía. 

							|Revise su historial clinico
				.row.info
					.col-lg-8
						h4 LEALO EN 
							span#botones
								input(type="button",onclick="javascript:cambia_español();",value="Español")
								input(type="button",onclick="javascript:cambia_shipibo();",value="Shpibo")
						p#capa
							|  Dina Pangoa Vásquez fue vilmente engañada por los enfermeros del puesto de salud Santa Rosa (distrito Masisea, provincia Coronel Portillo, región Pucallpa). La subieron a un bote para llevarla al Centro de Salud de Masisea con la promesa de brindarle un chequeo médico. Dina, su amiga shipiba Gloria, y dos señoras mestizas (no shipibas) navegaron a través del río Pashitea con dirección al encuentro con sus verdugos.
							br
							| Sacaron la lista de Masisea, y las empezaron a llamar una a una por su nombre para pasar a una sala.
							
					.col-lg-4
						h2 Videos Relacionados
						div.colum
							a(href='#')
								img(width="100%",src="images/shipiba-1z.jpg")
								p “El enfermero nos dijo: las ligamos en reemplazo de las que se han escapado”
						div.colum
							a(href='#')
								img(width="100%",src="images/shipiba-1z.jpg")
								p “El enfermero nos dijo: las ligamos en reemplazo de las que se han escapado”

								

		footer
			include base/footer.pug

		include base/script.pug