
html
	head
		include base/head.pug    		
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		#main
			div.la-republica.v-center
				a(href="http://larepublica.pe/",alt="la_republica")
					img(class="img-responsive",src="images/logo_lr.png")
			.menu
				include base/menu.pug

			.colleccion.container-fluid
				.container
					h2 Archivos de investigaciones sobre esterilizaciones forzadas
					.row.notas
						.col-lg-4
							a(href="http://larepublica.pe/impresa/en-portada/711276-medicos-testifican-que-la-esterilizacion-masiva-fue-politica-de-gobierno-de-fujimori")
								img.media-object(src="images/medicos-Noticia-711276.jpg",alt="")
						.col-lg-8
							a(href="http://larepublica.pe/impresa/en-portada/711276-medicos-testifican-que-la-esterilizacion-masiva-fue-politica-de-gobierno-de-fujimori")
								h3 Médicos testifican que la esterilización masiva fue política de gobierno de Fujimori
							p Pruebas documentales. En 1997, un grupo de 12 médicos de la región Piura denunció al Ministerio de Salud del régimen fujimorista por conminarlos a operar a 60 mujeres por día en condiciones infrahumanas. Captadores pagados por el Minsa trasladaban a las mujeres de Huancabamba, de la sierra piurana, a la ciudad.
					.row.notas
						.col-lg-4
							a(href="http://larepublica.pe/impresa/en-portada/712791-captacion-de-mujeres-para-campanas-de-esterilizacion-masiva-fue-casa-por-casa")
								img.media-object(src="images/este-Noticia-712791.jpg",alt="")
						.col-lg-8
							a(href="http://larepublica.pe/impresa/en-portada/712791-captacion-de-mujeres-para-campanas-de-esterilizacion-masiva-fue-casa-por-casa")
								h3 Captación de mujeres para campañas de esterilización masiva fue casa por casa
							p Evidencias acusatorias. Documentos del Ministerio de Salud describen una "Campaña de Salud" de cinco días que obligaba a los médicos a operar a 120 mujeres cada día, a razón de 12 cada hora. Las autoridades de Salud dispusieron que los empleados administrativos ayudaran a conseguir pacientes.

					.row.notas
						.col-lg-4
							
							a(href="http://larepublica.pe/impresa/en-portada/711276-medicos-testifican-que-la-esterilizacion-masiva-fue-politica-de-gobierno-de-fujimori")
								img.media-object(src="images/medicos-Noticia-711276.jpg",alt="")
						.col-lg-8
							a(href="http://larepublica.pe/impresa/en-portada/711276-medicos-testifican-que-la-esterilizacion-masiva-fue-politica-de-gobierno-de-fujimori")
								h3 Médicos testifican que la esterilización masiva fue política de gobierno de Fujimori
							p Pruebas documentales. En 1997, un grupo de 12 médicos de la región Piura denunció al Ministerio de Salud del régimen fujimorista por conminarlos a operar a 60 mujeres por día en condiciones infrahumanas. Captadores pagados por el Minsa trasladaban a las mujeres de Huancabamba, de la sierra piurana, a la ciudad.
					.row.notas
						.col-lg-4
							a(href="http://larepublica.pe/impresa/en-portada/712791-captacion-de-mujeres-para-campanas-de-esterilizacion-masiva-fue-casa-por-casa")
								img.media-object(src="images/este-Noticia-712791.jpg",alt="")
						.col-lg-8
							a(href="http://larepublica.pe/impresa/en-portada/712791-captacion-de-mujeres-para-campanas-de-esterilizacion-masiva-fue-casa-por-casa")
								h3 Captación de mujeres para campañas de esterilización masiva fue casa por casa
							p Evidencias acusatorias. Documentos del Ministerio de Salud describen una "Campaña de Salud" de cinco días que obligaba a los médicos a operar a 120 mujeres cada día, a razón de 12 cada hora. Las autoridades de Salud dispusieron que los empleados administrativos ayudaran a conseguir pacientes.
			footer
				include base/footer.pug

		include base/script.pug