
html
	head
		title Secuelas Perpetuas El juicio final, La matanza en El Frontón, Alan García, Primer gobierno de Alan García, Matanza en El Frontón, Penal El Frontón, Acusados de El Frontón, Marina de Guerra, Agustín Mantilla, Política | LaRepublica.pe
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(name="robots",content="index,follow")
		meta(name="keywords",content="Alan García, Primer gobierno de Alan García, Matanza en El Frontón, Penal El Frontón, Acusados de El Frontón, Marina de Guerra, Agustín Mantilla, Política")
		meta(name="description",content='El juicio final es un especial que identifica a los 35 ex marinos acusados de homicidio calificado contra 133 reos durante el debelamiento del motín en el penal El Frontón, ocurrido en junio de 1986 durante el gobierno de Alan García Pérez')
		meta(property="og:description",content='El juicio final es un especial que identifica a los 35 ex marinos acusados de homicidio calificado contra 133 reos durante el debelamiento del motín en el penal El Frontón, ocurrido en junio de 1986 durante el gobierno de Alan García Pérez')
		meta(property="fb:app_id",content="489210501129201")
		meta(property="og:site_name",content="LaRepublica.pe")
		meta(property="og:type",content="website")
		meta(property="og:url",content="http://larepublica.pe/data/matanza-en-el-fronton/")
		meta(property="og:title",content="El juicio final | La matanza en El Frontón | LaRepublica.pe")
		meta(property="og:image",content="http://larepublica.pe/data/matanza-en-el-fronton/images/foto_portada.jpg")
		meta(name="twitter:card",content="summary")
		meta(name="twitter:site",content="@larepublica_pe")
		meta(name="twitter:url",content="http://larepublica.pe/data/matanza-en-el-fronton")
		meta(name="twitter:image",content="http://larepublica.pe/data/matanza-en-el-fronton/images/foto_portada.jpg")
		meta(name="twitter:title",content="El juicio final | La matanza en El Frontón | LaRepublica.pe")
		meta(name="twitter:description",content='El juicio final es un especial que identifica a los 35 ex marinos acusados de homicidio calificado contra 133 reos durante el debelamiento del motín en el penal El Frontón, ocurrido en junio de 1986 durante el gobierno de Alan García Pérez')
		meta(name="twitter:width",content="150")
		meta(name="twitter:height",content="120")
		meta(itemprop="name",content="El juicio final | La matanza en El Frontón | LaRepublica.pe")
		meta(itemprop="description",content='El juicio final es un especial que identifica a los 35 ex marinos acusados de homicidio calificado contra 133 reos durante el debelamiento del motín en el penal El Frontón, ocurrido en junio de 1986 durante el gobierno de Alan García Pérez')
		meta(name="MobileOptimized",content="width")
		meta(name="HandheldFriendly",content="true")
		link(rel="canonical",href="http://larepublica.pe/data/matanza-en-el-fronton/")
		link(rel="stylesheet",type="text/css",href="css/main.css")
		link(rel="shortcut icon",href="http://larepublica.pe/favicon.ico")
		script(src='http://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
		script(src='http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js')
	    		
	body
		#main
			div.la-republica.v-center
				a(href="http://larepublica.pe/",alt="la_republica")
					img(class="img-responsive",src="images/logo_lr.png")
			.menu
				header.container
					.logo
						a(href='index.html')
							img(src="images/logo-reponsive.png" width="180" alt="")
					nav
						a(href='shipibas.html') PUCALLPA

						a(href='https://codepen.io/soulrider911/full/dGuEn/') CUSCO
					
						a(href='investigaciones.html') COLECCIONES
					
					.redes
						a(href='https://codepen.io/JGallardo/pen/lJoyk') redes
			section.container.intro-shipibas
				.row
					.col-lg-12.txt-intro-shipibas
						p Era un día más para la shipiba Virginia Vásquez Mejías, un día común en su tranquila comunidad de Caimito . Estaba conversando con su esposo cuando tocaron a su puerta trabajadores del Centro de Salud Masisea.

			section.page.container-fluid.testimonios
				.row.a
					a.col-lg-6.col-md-6.col-xs-12.box(href='caso1.html')
						img(src="images/shipiba-1.jpg")
						.hero-overlay2 
						.cont
							h2 “El enfermero nos dijo: las ligamos en reemplazo de las que se han escapado” 

					a.col-lg-6.col-md-6.col-xs-12.box(href='#')
						img(src="images/shipiba-1.jpg")
				.row.a
					a.col-lg-6.col-md-6.col-xs-12.box(href='#')
					a.col-lg-6.col-md-6.col-xs-12.box(href='#')
				.row.a
					a.col-lg-6.col-md-6.col-xs-12.box(href='#')
					a.col-lg-6.col-md-6.col-xs-12.box(href='#')

		#container
			h2  Más testimonios de mujeres shipibas esterilizadas
				#next(alt='Next', title='Next')
					.arrow-right
				#prev(alt='Prev', title='Prev')
					.arrow-left
				#slider
					.slide
						.slide-copy
							h2 Slide One
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae commodo sem. Integer eros nibh, molestie congue elementum quis, mattis nec tortor. Vivamus sed hendrerit sed vitae orci convallis.
						.img1
							img(src="images/slider-1.jpg")
							
					.slide
						.slide-copy
							h2 Slide Two
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae commodo sem. Integer eros nibh, molestie congue elementum quis, mattis nec tortor. Vivamus sed hendrerit sed vitae orci convallis.
						.img2
							img(src="images/slider-2.jpg")
					.slide
						.slide-copy
							h2 Slide One
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae commodo sem. Integer eros nibh, molestie congue elementum quis, mattis nec tortor. Vivamus sed hendrerit sed vitae orci convallis.
						.img3
							img(src="images/slider-1.jpg")
					.slide
						.slide-copy
							h2 Slide Two
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae commodo sem. Integer eros nibh, molestie congue elementum quis, mattis nec tortor. Vivamus sed hendrerit sed vitae orci convallis.
						.img4
							img(src="images/slider-2.jpg")
					.slide
						.slide-copy
							h2 Slide Two
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae commodo sem. Integer eros nibh, molestie congue elementum quis, mattis nec tortor. Vivamus sed hendrerit sed vitae orci convallis.
						.img5
							img(src="images/slider-1.jpg")
				


		footer
			.sjdhsdha

		script(type='text/javascript', src='js/bootstrap.js')
		script(type='text/javascript', src='js/main.js')