
html
	head
		include base/head.pug
	    		
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		#main
			div.la-republica.v-center
				a(href="http://larepublica.pe/",alt="la_republica")
					img(class="imgresponsive",src="images/logo_lr.png")
			.menu
				include base/menu.pug
			section.container.intro-shipibas
				.row
					.col-lg-12.txt-intro-shipibas
						p Numerosas víctimas de la comunidad shipiba de Ucayali fueron sometidas a las esterilizaciones sin que los enfermeros ni médicos, que no hablaban su lengua, les informaran del motivo de la operación. Las víctimas son de los distritos de Iparia y Masisea, a ocho horas de Pucallpa; de Padre Marquéz, a siete horas de la ciudad; y de Yarinacocha, distrito cercano a Pucallpa.



			section.page.container-fluid.testimonios
				.row.a
					a.col-lg-6.col-md-6.col-xs-12.box(href='dinapangoa.html')
						img(src="images/shipiba-1.jpg")
						.hero-overlay2 
							i(class="fa fa-play-circle-o fa-5x",aria-hidden="true")
						.cont
							<!--.btn.ver-video Ver video-->
							<!-- i(class="icon-youtube-play" aria-hidden="true") -->

							p Dina Pangoa Vásquez 
							p.info “A mí me han llevado, ellos son los culpables”

					a.col-lg-6.col-md-6.col-xs-12.box(href='julianalomas.html')
						img(src="images/julianalomas.jpg")
						.hero-overlay2 
							i(class="fa fa-play-circle-o fa-5x",aria-hidden="true")
						.cont
							p Juliana Lomas Cauper 
							p.info “Apagaron la luz, prendieron una más pequeña, temblaba, no sabía que me hacían” 
				.row.a
					a.col-lg-6.col-md-6.col-xs-12.box(href='lidiarodriguez.html')
						img(src="images/lidiarodriguez.jpg")
						.hero-overlay2 
							i(class="fa fa-play-circle-o fa-5x",aria-hidden="true")
						.cont
							p Lidia Rodríguez Gonzáles
							p.info “Pensé que me hacían eso para curarme la hemorragia”

					a.col-lg-6.col-md-6.col-xs-12.box(href='luciazumaeta.html')
						img(src="images/luciazumaeta.jpg")
						.hero-overlay2 
							i(class="fa fa-play-circle-o fa-5x",aria-hidden="true")
						.cont
							p Lucía Zumaeta López 
							p.info “Me hicieron la cesárea y la ligadura al mismo tiempo”

				.row.a
					a.col-lg-6.col-md-6.col-xs-12.box(href='nildarojas.html')
						img(src="images/nildarojas.jpg")
						.hero-overlay2 
							i(class="fa fa-play-circle-o fa-5x",aria-hidden="true")
						.cont
							p Nilda Rojas Martínez 
							p.info “Yo iba por cesárea,  no dije nunca que me ligaran” 
 
					a.col-lg-6.col-md-6.col-xs-12.box(href='virginiavasquez.html')
						img(src="images/virginiavasquez.jpg")
						.hero-overlay2 
							i(class="fa fa-play-circle-o fa-5x",aria-hidden="true")
						.cont
							p Virginia Vásquez Mejías
							p.info “El enfermero nos dijo: las ligamos en reemplazo de las que se han escapado” 


		.album-fotos.mt-4
			.row
				.col-lg-offset-2.col-lg-8
					h2  Más testimonios de mujeres shipibas esterilizadas
					#next(alt='Next', title='Next')
							.arrow-right
					#prev(alt='Prev', title='Prev')
							.arrow-left
					#slider
						
							.slide
								.img1
									img(src="images/slider-1.jpg" width="100%")
								.datos.slide-copy
									h2 Slide One
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae commodo sem. Integer eros nibh, molestie congue elementum quis, mattis nec tortor. Vivamus sed hendrerit sed vitae orci convallis.http://flex.madebymufffin.com/
							.slide
								.img1
									img(src="images/slider-2.jpg" width="100%")
								.datos.slide-copy
									h2 Slide One
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae commodo sem. Integer eros nibh, molestie congue elementum quis, mattis nec tortor. Vivamus sed hendrerit sed vitae orci convallis.http://flex.madebymufffin.com/
							.slide
								.img1
									img(src="images/slider-1.jpg" width="100%")
								.datos.slide-copy
									h2 Slide One
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae commodo sem. Integer eros nibh, molestie congue elementum quis, mattis nec tortor. Vivamus sed hendrerit sed vitae orci convallis.http://flex.madebymufffin.com/
							.slide
								.img1
									img(src="images/slider-2.jpg" width="100%")
								.datos.slide-copy
									h2 Slide One
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae commodo sem. Integer eros nibh, molestie congue elementum quis, mattis nec tortor. Vivamus sed hendrerit sed vitae orci convallis.http://flex.madebymufffin.com/

		//* #container
				h2  Más testimonios de mujeres shipibas esterilizadas
					#next(alt='Next', title='Next')
						.arrow-right
					#prev(alt='Prev', title='Prev')
						.arrow-left
				#slider
					.slide
						.slide-copy
							h2 Slide One
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae commodo sem. Integer eros nibh, molestie congue elementum quis, mattis nec tortor. Vivamus sed hendrerit sed vitae orci convallis.
						.img1
							img(src="images/slider-1.jpg")
							
					.slide
						.slide-copy
							h2 Slide Two
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae commodo sem. Integer eros nibh, molestie congue elementum quis, mattis nec tortor. Vivamus sed hendrerit sed vitae orci convallis.
						.img2
							img(src="images/slider-2.jpg")
					.slide
						.slide-copy
							h2 Slide One
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae commodo sem. Integer eros nibh, molestie congue elementum quis, mattis nec tortor. Vivamus sed hendrerit sed vitae orci convallis.
						.img3
							img(src="images/slider-1.jpg")
					.slide
						.slide-copy
							h2 Slide Two
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae commodo sem. Integer eros nibh, molestie congue elementum quis, mattis nec tortor. Vivamus sed hendrerit sed vitae orci convallis.
						.img4
							img(src="images/slider-2.jpg")
					.slide
						.slide-copy
							h2 Slide Two
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae commodo sem. Integer eros nibh, molestie congue elementum quis, mattis nec tortor. Vivamus sed hendrerit sed vitae orci convallis.
						.img5
							img(src="images/slider-1.jpg") -->


		footer
			include base/footer.pug

		include base/script.pug