h2 Videos Relacionados
div.colum
	a(href='virginiavasquez.html')
		img(width="100%",src="images/virginiavasquez-link.jpg")
		p “El enfermero nos dijo: las ligamos en reemplazo de las que se han escapado”
div.colum
	a(href='nildarojas.html')
		img(width="100%",src="images/nildarojas-link.jpg")
		p “Yo iba por cesárea,  no dije que me hagan ligadura”
div.colum
	a(href='luciazumaeta.html')
		img(width="100%",src="images/luciazumaeta-link.jpg")
		p “Me hicieron la cesárea y la ligadura al mismo tiempo”
div.colum
	a(href='lidiarodriguez.html')
		img(width="100%",src="images/lidiarodriguez-link.jpg")
		p “Pensé que me hacían eso para curarme mi hemorragia” 
div.colum
	a(href='julianalomas.html')
		img(width="100%",src="images/julianalomas-link.jpg")
		p “Apagaron la luz, me pusieron una inyección (anestesia), no sabía que me hacían”
div.colum
	a(href='dinapangoa.html')
		img(width="100%",src="images/dinapangoa-link.jpg")
		p “A mí me han llevado, ellos son los culpables” 