h2 Videos Relacionados
div.colum
	a(href='victoriaccoya.html')
		img(width="100%",src="images/victoriaccoya-link.jpg")
		p “Me obligaron a ligarme porque el Gobierno ha ordenado no tener más de tres hijos” do”
div.colum
	a(href='maximilianaquillahuaman.html')
		img(width="100%",src="images/maximilianaquillahuaman-link.jpg")
		p “Yo iba por cesárea,  no dije que me hagan ligadura”
div.colum
	a(href='martinacamala.html')
		img(width="100%",src="images/martinacamala-link.jpg")
		p “Me dijeron que si no me ligaban me meterían a la cárcel” 
div.colum
	a(href='ernestinamamani.html')
		img(width="100%",src="images/ernestinamamani-link.jpg")
		p “Me dieron un papel para firmar, estaba llorando, no sé leer” 
div.colum
	a(href='damianahuallpayunca.html')
		img(width="100%",src="images/damianahuallpayunca-link.jpg")
		p “A mi esposo lo obligaron a firmar para que me liguen”
div.colum
	a(href='ninamamani.html')
		img(width="100%",src="images/ninamamani-link.jpg")
		p “A los 25 años me hicieron esto, tenía mis bebés seguiditos”