* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Cabin', sans-serif;
}
.bg-video {
}
.bg-video div.contenedor {
	position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 69%;
    -webkit-transition: 0.25s ease-out height;
    transition: 0.25s ease-out height;
}
.hero-overlay {
	background: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg-video video {
	position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -30%) scale(1.025);
    -ms-transform: translate(-50%, -30%) scale(1.025);
    transform: translate(-50%, -30%) scale(1.025);

 }

.title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 80%;
    text-align: center;
}

.title p {
	color: white;
	letter-spacing: 2px;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 1px #000;
}
span.hashtag {
	background-color: #7c2132;
    color: white;
    letter-spacing: 2px;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.33);
}

/*menu*/
.menu {
	background-color: #927F19;
	display: flex;
    	.container:before, 
	.container:after {
		content: initial;
	}
}
header {
	background-color: #927F19;
	padding:20px;
   /*FLEX*/
   	display: flex;
   	justify-content:space-between;
   	align-items:center;
   	flex-direction:row; 
   	flex-wrap:wrap;

}

header nav {
	width: 50%;
	/*FLEX*/
   	display: flex;
   	flex-wrap:wrap;
   	align-items:center;

}

header nav a {
	letter-spacing: 4px;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
	font-family: 'Cabin', sans-serif;
	background-color: #927F19;
	text-align:center;
	text-decoration: none;
	padding:10px;
	   /*FLEX*/
   	flex-grow:1;

}

.intro{
	padding: 5% 0;
}



/*media*/
@media screen and (max-width: 2218px) {
	.bg-video video {

    -webkit-transform: translate(-50%, -43%) scale(1.025);
    -ms-transform: translate(-50%, -43%) scale(1.025);
    transform: translate(-50%, -43%) scale(1.025);
	}

 }
@media screen and (max-width: 1700px) {
	.bg-video video {

    -webkit-transform: translate(-50%, -43%) scale(1.025);
    -ms-transform: translate(-50%, -43%) scale(1.025);
    transform: translate(-50%, -43%) scale(1.025);
	}

 }

 @media screen and (max-width: 1500px) {
	.bg-video video {

    height: auto;
    -webkit-transform: translate(-50%, -49%) scale(1.025);
    -ms-transform: translate(-50%, -49%) scale(1.025);
    transform: translate(-50%, -49%) scale(1.025);
	}

 }
@media screen and (max-width: 900px) {

 }
@media screen and (max-width: 800px) {
	header nav {
		width: 100%;
	}
	header {
   	flex-direction:column; 
	}
	.bg-video video {

    height: auto;
    -webkit-transform: translate(-50%, -49%) scale(1.025);
    -ms-transform: translate(-50%, -49%) scale(1.025);
    transform: translate(-50%, -49%) scale(1.025);
	}
}
@media screen and (max-width: 500px) {
	header {
   	flex-direction:column; 
	}
	header nav {
	flex-direction:column; 
	}
	.title {
    position: relative;
    text-align: center;
	}
	h1 img {
		width: 70%;
	}

}