.txt-intro-shipibas {
	text-align: center;
    padding: 2%;
}


.row.a {
	background-color: #7C2132;
	display: flex;
    flex-wrap: wrap;
    height: calc(41.26% - 150px);
}

#main, {
    width: 100%;
    height: 100%;
}
.box {
	position: realtive;
	.hero-overlay2 {
		background: rgba(74, 29, 38, 0.55);
		position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	}
}
.cont {
	padding:2%;
	position:absolute;
	bottom: 0;
	color: white;
}
.testimonios{
	a {
		color: white;
		padding: 0;
		img {
			width: 100%;
		}
	}
}