//urls
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Miriam+Libre';
@import url('https://fonts.googleapis.com/css?family=Cabin');
//colors
$larepublica: #c00101;
$white: #FEFCFA;
$verde: #928d19;
$guinda: #7C2132;

//fonts
$font_roboto_slab:'Roboto Slab';
$font_roboto: 'Roboto';
$font_miriam: 'Miriam Libre';
$font_sans: sans-serif;
$Cabin-sans: 'Cabin', sans-serif
